
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
  height: 100%;
  color: #777;
  line-height: 1.8;
}
/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url("https://img.wongnai.com/p/1920x0/2022/02/22/467118f8e84a49f6a86eef4a3afe3de3.jpg");
  min-height: 100%;
}
/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("https://img.wongnai.com/p/256x256/2023/02/13/f127cf699e364219a2f086c25b6909c9.jpg");
  min-height: 400px;
}
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {
  .bgimg-1, .bgimg-2 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
.w3-col{
    border: 2px red solid;
    margin-top: 0%;
}
.w3-col fa{
    border: 2px red solid;
    margin-top: 0%;
}
.w3-row img{
    border: 2px solid red;
}
.w3-m6 p{
    border: solid red 2px;
    margin-top: 5%;
    margin-left: 53%;
}
.contrainer{
    display: inline-flexbox;
    width: 1000px;
    height: 800px;
    border: 2px solid blue;
}
.lele{
  border: 2px solid red;
    width: 300px;
    height: 150px;
    margin-left: 0%;
}
.lele h3{
    padding:10px;
    margin-left: 20px;
}
.riri{
    border: 2px solid red;
    margin-top: 40px;
    margin-left: 0%;
    width: 200px;
    height: 150px;
}
.riri b{
    border: 2px solid red;
}
.mapouter {
  position: relative;
  top:10px;
  right: 10px;
    text-align: right;
    height: 300px;
    width: 500px;
}
.gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 300px;
    width: 500px;

}



